.ClassLinks{
    text-align: center;
   
}
.ClassLinks nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}
.ClassLinks nav button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fa6406;
    background-color: #edf88c;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.ClassLinks nav button:hover {
    background-color: #c6f312;
}
header{
    text-align: center;
    padding: 10px;
}
body{
    margin: 30px;
}
.home{
    text-align: center;
}

.lesson {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapter {
    margin-left: 5px;
}

.chapter h4 {
    color: #fa6406; /* Customize to your preferred color */
}

ul {
    list-style-type: none;
    padding: 0;
}
.unit, .chapter, .lesson {
    margin: 5px 0;
}

.unit h3, .chapter h4, .lesson h5 {
    cursor: pointer;
    
    
    align-items: left;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.toggle-icon {
    font-size: 14px;
    transition: transform 0.3s;
}

.chapter, .lesson-details {
    display: none; /* All chapters and lesson details start collapsed */
}

.lesson {
    padding-left: 20px;
}

.lesson-details {
    padding-left: 40px;
}



