.ClassLinks{
    text-align: center;
   
}
.ClassLinks nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}
.ClassLinks nav button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fa6406;
    background-color: #edf88c;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.ClassLinks nav button:hover {
    background-color: #c6f312;
}
header{
    text-align: center;
    padding: 10px;
}

.lesson {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapter {
    margin-left: 20px;
}

.chapter h4 {
    color: #4CAF50; /* Customize to your preferred color */
}

ul {
    list-style-type: none;
    padding: 0;
}



